@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
	max-width: 600px;
	margin:auto;
	background: white;
}

#display{
	min-height: 100vh;
}

.box{
    padding: 20px 20px 55px;
    margin: 40px 0;
    border-bottom: 1px solid #cecece;
}

h1, h2, h3{
	font-family: 'Abel', serif;
	color: black;
}

h3{
	padding: 0;
margin: 0;
display: inline;
}
#hero{
	color: white;
	padding: 35px 0 35px 0;
border: 2px solid #000;
	margin: 40px 0 ;
 }

p{
	text-align: left;
}
#hero > h1{
	margin-top: 0;
}

footer{
	text-align: center;
	margin-top: 50px;
	padding-top: 15px;
	width: 100%;
	height: 100px;
	color: grey;
}

#allNames{
	display: none;
}

#errorMessage{
	display: none;
	color: red;
}

#loader {	
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#allNames{
	display: block;
margin: auto;
width: 600px;
}

.name{
	color: blue;
	display:inline-block;
	padding: 10px;
	text-transform: capitalize;
	text-align: center;
}

.name-row{
	width: 600px;
text-align: left!important;
}

.session{
 display: block;
text-align: left;
background: #dedede;
padding: 4px;
margin: 2px;
font-size: 16px;
width: 600px;
cursor: pointer;
font-weight: bold;
}
.description{
text-align: left;
margin: auto;
display: block;
padding: 10px;
}

.link{
	display: inline-block;
padding: 5px 10px;
background: blue;
color: white;
margin: 10px;
}

.video{
	display: inline-block;
padding: 5px 10px;
background: blue;
color: white;
margin: 10px;
}
.written{
	display:inline-block;
	text-align: center;r
}

.audio{
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.name-row{
	text-align: center;
}

#noNameFound{
	display: none;
	color: red;
}